.container{
    margin: 6% 15%;
    padding: 6% 6%;
    border-radius: 10px;
    padding-bottom: auto;

}
.carousel{
    margin: 6% 15%;
    padding: 6% 6%;
    border-radius: 10px;
    padding-bottom: auto;
}

